$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 12px;
$spacer-l: 17px;
$spacer-xl: 28px;
$spacer-xxl: 42px;

$rounded-corners: 3px;


$font-size-s: 12px;
$font-size-m: 17px;
$font-size-l: 23px;

$box-shadows: 0px 8px 16px 0px rgba(0,0,0,0.2);

$main-border: 20px;


