:root {
    --color-primary: #166088;
    --color-secondary: #4a6fa5;

    --color-third: #c0d6df;

    --color-border: #4f6d7a;
    --color-fourth: #4f6d7a;
    --color-bright: #e2eafc;

    --color-mellow: #edf2fb;

    --color-background: #dbe9ee;
    --color-warning: #881816;
  }