:root {
    --color-primary: #702382;
    --color-secondary: #C487BA;
    --color-third: #895EA3;

    --color-border: #003A89;
    --color-fourth: #6E9ED4;
    --color-bright: #357FFF;

    --color-mellow: #65B2E4;


  }