@import "../design-tokens/scss-variables.scss";

.navContainer {
    background-color: var(--color-secondary);
    // display: flex;
    // justify-content: space-between;
    font-size: $font-size-l;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.activeNav {
    background-color: var(--color-third) !important;

    li {
        
        background-color: var(--color-additional) !important;
        color: var(--color-third) !important;
        width:85%;
        border-bottom-left-radius: $rounded-corners;
        border-top-left-radius: $rounded-corners;
    }



}

.activeNav :hover {
    // color: var(--color-additional) !important;
    // background-color: var(--color-secondary) !important;

}

.navLinks {
    // display: flex;

    li {
        padding: $spacer-s;
        margin: $spacer-m $spacer-m;
        color: var(--color-additional)
    }

    :hover {
        background-color: var(--color-primary);
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;


    }

    li:not(.profilePic) {
        border-radius: $rounded-corners
    }
}

.profilePic {
    display: inline-block;
    margin: $spacer-m $spacer-xl;
    border: 2px solid var(--color-border);
    padding: $spacer-m;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    color: var(--color-additional);
    posiiton: relative;
    right: 5px;



}

.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: $box-shadows;
    padding: 12px 16px;
    right: 20px;
    top: 80px;
    display: flex;
    flex-direction: column;
    font-size: $font-size-m;

}