@import "../design-tokens/scss-variables.scss";

.navContainer {
    background-color: var(--color-bright);
    display: flex;
    justify-content: space-between;
    font-size: $font-size-l;
    border-bottom: 5px solid var(--color-bright);
}

.activeNav {
    background-color: var(--color-bright) !important;

    li {
        // border:none !important;
        color:black !important;
        background-color: var(--color-bright) !important;


    } 
    

    border-bottom: 5px solid var(--color-bright)!important;
    border-top-right-radius: 25px!important;
    border-top-left-radius: 25px!important;

} 


.navLinks {
    display: flex;

    li {
        font-size:$font-size-m;
        padding: $spacer-s;
        margin: $spacer-m $spacer-m;
        color:white;

    }
   
}
