.App {
  // text-align: center;
  background-color: var(--color-additional);
  // margin-left:175px;
  // padding:$main-border;
}

a {
  text-decoration: none;
}

li, ul {
  list-style-type: none;
}

button {

}

// #div1 {
//   width: 350px;
//   height: 70px;
//   padding: 10px;
//   border: 1px solid #aaaaaa;
// }


/*IMAGE UPLOAD*/

.uploader {
  width: 0;
  height: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

.hide {
  display: none
}

.image-uploaded {
  margin: 0 auto;
  margin-bottom: 25px
}

//STAR CHECK

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
  position:relative;
  left:40%;
}
.star:before {
 visibility:visible;
 color: black;
 border:1px
 
}
.star:checked:before {
 color: yellow;
 text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.no-star {
  visibility:hidden;
  cursor:pointer;
  position:relative;
  left:40%;
}

.no-star:before {
  visibility:visible;
  
 }

 .dragging{
  transform: rotate(20deg);
 }
