.activeNav {
    li {
        color: var(--color-primary);
        box-shadow: 0px 35px 3px -35px var(--color-warning);
        border-bottom: 1px solid var(--color-primary)
    }

    hr {
        display: block;
        width: 0px;
        height: 25%;
        
    }

}
