.activeNav {
    li {
        color: black;
        box-shadow: 0px 35px 3px -35px var(--color-warning);

    }

    hr {
        display: block;
        width: 0px;
        height: 25%;
        
    }

}
