.activeNav {
    background-color: var(--color-bright) ;

    li{
        // border:none ;
        color:black ;
        background-color: var(--color-bright) ;
    }
    
    border-bottom: 5px solid var(--color-bright);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border:var(--color-primary)
} 

